@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400&family=Urbanist:wght@400;600;700;800&family=Inter:wght@400;600;700&family=Poppins:wght@400;500;600&family=Rubik:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-secondary;
  }
}

@layer utilities {
  .text-nowrap {
    white-space: nowrap;
  }
}
